<a href="https://colab.research.google.com/github/Vgrams05/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [3]:
##### Begin Working Here #####
import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-08-05 16:27:51--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.42.71.195, 34.217.168.192, 34.211.153.241, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.42.71.195|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [           <=>      ]  22.26M  2.23MB/s    in 10s

2020-08-05 16:28:03 (2.20 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23339743]

In [4]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
import numpy as np

df['term'] = pd.to_numeric(df['term'],errors='coerce')
df = df.replace(np.nan, 0, regex=True)
df['term'] = df['term'].astype(int)

print (df)
print (df.dtypes)

                                                      id  ...  settlement_term
0                                                      0  ...              0.0
1                                                      0  ...              0.0
2                                                      0  ...              0.0
3                                                      0  ...              0.0
4                                                      0  ...              0.0
...                                                  ...  ...              ...
128409                                                 0  ...              0.0
128410                                                 0  ...              0.0
128411                                                 0  ...              0.0
128412  Total amount funded in policy code 1: 2050909275  ...              0.0
128413   Total amount funded in policy code 2: 820109297  ...              0.0

[128414 rows x 144 columns]
id                        object
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

In [10]:
def loan_great():
   if (df['loan_status']).any == 'Current' or (df['loan_status']).any == 'Fully Paid':
     return 1
   else:
     return 0

df['loan_status'].isin(['Current','Fully Paid']).astype(int)

0         0
1         1
2         1
3         1
4         1
         ..
128409    1
128410    1
128411    1
128412    0
128413    0
Name: loan_status, Length: 128414, dtype: int64

In [12]:
print (df.head())

  id  member_id  ...  settlement_percentage  settlement_term
0  0        0.0  ...                    0.0              0.0
1  0        0.0  ...                    0.0              0.0
2  0        0.0  ...                    0.0              0.0
3  0        0.0  ...                    0.0              0.0
4  0        0.0  ...                    0.0              0.0

[5 rows x 144 columns]

In [ ]:
df.insert (3, 'last_pymnt_d_month', True)

In [22]:
df.insert (4, 'last_pymnt_d_year', True)

In [23]:
print (df.columns)

Index(['id', 'member_id', 'loan_amnt', 'last_pymnt_d_month',
       'last_pymnt_d_year', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'installment',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=146)

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01